name: Test

on:
  push:
  pull_request_target:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.15', '1.16' ]
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: test
        run: |
          go test ./... -race -coverprofile=coverage.txt -covermode=atomic
  codecov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: test
        run: |
          go test ./... -race -coverprofile=coverage.txt -covermode=atomic
      - uses: codecov/codecov-action@v1.5.2
        with:
          file: coverage.txt
          token: ${{ secrets.CODECOV_TOKEN }}
